name: AEM Cntrl CI

on: 
  push:
    paths:
    - 'aem_cntrl/**'
    - '.github/workflows/aem-cntrl-ci.yml'
  workflow_dispatch:
    
jobs:
  build:
    name: Java ${{ matrix.java }} build
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: true
      matrix:
        java: [ 25 ]
        experimental: [false]
#        include:
#          - java: 26-ea
#            experimental: true

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK ${{ matrix.java }} for Shared Runner
      uses: actions/setup-java@v5
      with:
        distribution: 'oracle'
        java-version: ${{ matrix.java }}
        cache: 'maven'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file
    - name: Setup JBang
      uses: jbangdev/setup-jbang@main

    - name: Build Aem_Cntrl with Maven
      run: mvn -B install -s $GITHUB_WORKSPACE/settings.xml --file aem_cntrl
      env:
        GITHUB_TOKEN: ${{ github.token }}

#    - name: Deploy Aem_Cntrl with Maven
#      if: github.ref == 'refs/heads/master' || github.ref == 'refs/tags/*' # Only run on main branch or tags
#      run: mvn -B deploy -s $GITHUB_WORKSPACE/settings.xml --file aem_cntrl
#      env:
#        GITHUB_TOKEN: ${{ github.token }}

  